@import url("https://fonts.googleapis.com/css?family=Contrail+One");
body {
  background: linear-gradient(lightblue, darkblue);
}
.container {
  background: linear-gradient(rgb(0, 183, 255), green);
}
.jumbotron.jumbotron-fluid {
  background: linear-gradient(rgb(0, 183, 255), green);
}
.container2 {
  width: 100%;
  border-radius: 5px;
}
.form-group {
  margin: 15px;
}

.btn.btn-success {
  margin-left: 15px;
  margin-bottom: 20px;
}
#momenttd {
  float: right;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: "Contrail One", sans-serif;
  font-size: 2em;
}
